<h2 class="text-center">Ingresar</h2>
<form class="form-group">
	<div class="form-group">
		<input type="text" placeholder="titulo" #titulo class="form-control">
	</div>
	<div class="form-group">
		<input type="text" placeholder="reseña" #resena class="form-control">
	</div>
	<div class="form-group">
		<input type="text" placeholder="autor" #autor class="form-control">
	</div>
	<a href="#" (click)="crear(titulo.value, resena.value, autor.value)" class="btn btn-success btn-block">insertar</a>
</form>
